<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<style>
  .el-table .warning-row {
    background: #EBF6FA;
  }

  .el-table .success-row {
    background: #EBF6FA;
  }
</style>
</head>

<body>
<div id="personApp" v-loading="loading">
			<el-row>
				<el-col :span="24">
					<el-row :span="24">
					<el-col :span="4">
						名称<el-input v-model="tiaojian.pmpname" placeholder=""></el-input>
					</el-col>
					<el-col :span="4">
						描述<el-input v-model="tiaojian.pmpms" placeholder=""></el-input>
					</el-col>
					<el-col :span="4">
						开始时间<el-input type="date" v-model="tiaojian.pmpkssj" placeholder=""></el-input>
					</el-col>
					<el-col :span="4">
						结束时间<el-input type="date" v-model="tiaojian.pmpjssj" placeholder=""></el-input>
					</el-col>
					<el-col :span="4">
						起拍价<el-input placeholder="上下浮动1000" v-model="tiaojian.pmpqpj" placeholder=""></el-input>
					</el-col>
					<el-col :span="4">
						<el-button style="margin-top: 18px;" type="primary" round @click="chaxun">查询</el-button>
					</el-col>
					</el-row>	
					<el-table :default-sort="{prop: 'pdate', order: 'descending'}" :data="pageInfo.list" border :row-class-name="tableRowClassName" >
						<el-table-column prop="pmpname" label="名称">	
						</el-table-column>
						<el-table-column prop="pmpms" label="描述">
						</el-table-column>
						<el-table-column prop="pmpkssj" label="开始时间">
						</el-table-column>
						<el-table-column prop="pmpjssj" label="结束时间">
						</el-table-column>
						<el-table-column prop="pmpqpj" label="起拍价">
						</el-table-column>
						<el-table-column label="操作">
							<template slot-scope="temp">
								<el-button icon="el-icon-edit" size="mini" type="primary" @click="showInfo(temp.row.pmpid,temp.row.pmpkssj,temp.row.pmpjssj)">竞拍</el-button>
							</template>
						</el-table-column>
						
					</el-table>
				</el-col>
			</el-row>
			<el-row>
				<el-col :span="24">
					<el-pagination v-if="pageInfo.total!=0" :background="true" :pager-count="4" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="pageInfo.pageNum" :page-size="pageInfo.pageSize" :total="pageInfo.total" :page-sizes="[3,6]"  layout="total, sizes, prev, pager, next, jumper">
					</el-pagination>
				</el-col>
			</el-row>
		</div>
		
</body>
<script>
		var personApp = new Vue({
			el: '#personApp',
			data: {
				pageInfo: [],
				tiaojian:{
					pmpid:null,
					pmpname:null,
					pmpqpj:null,
					pmpdj:null,
					pmpkssj:null,
					pmpjssj:null,
					pmptplj:null,
					pmptpkzm:null,
					pmpms:null
				},
				loading: true
			},
			methods: {
				chaxun(){
					if(this.tiaojian.pmpname==''){this.tiaojian.pmpname=null};
					if(this.tiaojian.pmpms==''){this.tiaojian.pmpms=null};
					if(this.tiaojian.pmpkssj==''){this.tiaojian.pmpkssj=null};
					if(this.tiaojian.pmpjssj==''){this.tiaojian.pmpjssj=null};
					if(this.tiaojian.pmpqpj==''){this.tiaojian.pmpqpj=null};
					this.goToPage(1,3,this.tiaojian.pmpname,this.tiaojian.pmpms,this.tiaojian.pmpkssj,this.tiaojian.pmpjssj,this.tiaojian.pmpqpj);
				},
				tableRowClassName({row, rowIndex}) {
	        if (rowIndex === 1) {
	          return 'warning-row';
	        } else if (rowIndex === 3) {
	          return 'success-row';
	        }
	        return '';
	      },
				showInfo(pmpid,kssj,jssj) {
					let _this=this;
					$.getJSON(`http://127.0.0.1:8080/api/paimai/aaa/${kssj}/${jssj}`, function(date){
						 if(date.code=="100"){
						 	_this.$message(date.msg);
						 }else if(date.code=="200"){
						 	_this.$message(date.msg);
						 }else{
						 	indexApp.showView('竞拍页.html');
							sessionStorage.setItem('pmpid', pmpid);
						 }
					});
					
				},
				handleSizeChange(val) {
					this.goToPage(this.pageInfo.pageNum, val,this.tiaojian.pmpname,this.tiaojian.pmpms,this.tiaojian.pmpkssj,this.tiaojian.pmpjssj,this.tiaojian.pmpqpj);
				},
				handleCurrentChange(val) {
					this.goToPage(val, this.pageInfo.pageSize,this.tiaojian.pmpname,this.tiaojian.pmpms,this.tiaojian.pmpkssj,this.tiaojian.pmpjssj,this.tiaojian.pmpqpj);
				},
				goToPage(n,s,pmpname,pmpms,pmpkssj,pmpjssj,pmpqpj) {
					let _this=this;
					$.getJSON(`http://127.0.0.1:8080/api/paimai/shouye/${n}/${s}/${pmpname}/${pmpms}/${pmpkssj}/${pmpjssj}/${pmpqpj}`, function(date){
						_this.pageInfo=date;
					});
				}
			},
			mounted() {
				setTimeout(() => {
          	this.loading = false;
        }, 1000);
        this.goToPage(1,3,this.tiaojian.pmpname,this.tiaojian.pmpms,this.tiaojian.pmpkssj,this.tiaojian.pmpjssj,this.tiaojian.pmpqpj);
			}
		});
	</script>
</html>
